@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both; 
  }
}

@mixin  absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY FACTORY

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width:37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width:56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width:75em) {
      @content;
    }
  }

  @if $breakpoint == big {
    @media only screen and (min-width:112.5em) {
      @content;    
    }
  }
  
  @if $breakpoint == 1000 {
    @media only screen and (max-width:62.5em) {
      @content;    
    }
  }
  
  @if $breakpoint == 800 {
    @media only screen and (max-width:50em) {
      @content;    
    }
  }
  
  @if $breakpoint == 600 {
    @media only screen and (max-width:37.5em) {
      @content;    
    }
  }
  
}





// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
  
html {
  font-size: 62.5%; 
  
  @include respond(1000) {    
    font-size: 50%; 
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
}

body {
  box-sizing: border-box;
  color: white; //$color-grey-dark-1
  line-height: 1.6;
  font-family: $font-primary;
  font-size: 2rem;
}


.btn {
  font-family: inherit;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: $color-primary;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: $color-grey-light-1;
}
