
.header {
  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url(./img/hero.jpeg);

  padding: 4rem 0 6rem 2rem;
  grid-area: 2 / ls-start / 3 / col-end 6;

  display: grid;
  grid-template-rows: 1fr minmax(6rem, min-content) 1fr min-content;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;


  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__headings {
    color: $color-grey-light-1;
  }

  &__subheading {
    color: $color-primary;
    font-weight: 100;
  }

  &__heading {

  }

  &__btn {
    align-self: start;
    justify-self: start;
    width: 50%;

  }

  &__seen {

  }

  &__seen-text {
    padding: 2rem 0;

    color: $color-grey-light-1;
    font-size: 1.3rem;

    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-gap: 1rem;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor;
    }
  }

  &__seen-pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

  }

  &__ico {
    max-height: 2.5rem;
    max-width: 100%;
    filter: brightness(70%);
  }

  @include respond(800) {
    grid-area: 2 / 2 / 3 / -1;
    
  }
}
