.story__description {
  background-color: rgba(43, 255, 0, 0.199); // delete
  grid-area: 6 / col-start 5  / 7 / grid-end;

  @include respond(800) {
    grid-area: 5 / ls-start  / 6 / grid-end;
  }

 
  display: grid; 
  grid-gap: 4rem;
  padding: 10rem 10rem 10rem 15rem;

  justify-items: start;
  align-items: start;
  align-content: center;

  line-height: 1;
  font-size: 1.6rem;

  .story__btn {

  }
 
}


.story__pictures {
  grid-area: 6 / ls-start  / 7 / col-end 4  ;

  @include respond(800) {
    grid-area: 6 / ls-start  / 7 / grid-end;


  }


  background-image: linear-gradient(rgba($color-primary,.4), rgba($color-primary,.4)), url(../img/back.jpg);
  background-size: cover;
  background-position: center;

 
     
    position: relative;
  
  .story__img {
    width: 70%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @include respond(800) {
     
    width: 45%;
    left: 30%;
      
    }
  }
  .story__img-small {
    width: 60%;
    object-fit: cover;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%,-50%);

    @include respond(800) {
     width: 35%;
     top: 50%;
     left: 60%;
      
    }
  }
}