.decision {
    padding: 6rem 8vw;
    background: $color-grey-light-1;
    
    display: grid;
    grid-row-gap: 2rem;
    align-content: center;
 

    &__text {
        font-size: 1.5rem;
        font-style: italic;
    }

    &__btn {
        justify-self: start;
    }

    @include respond (tab-mid) {
        grid-row-gap: 1.5rem;
    }
    @include respond (phone-mid) {
        grid-row-gap: 2rem;
        padding: 6rem 1rem;
    }
} 